<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doanmp3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/mppro"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/mppro"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnMp3"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity
            android:name=".Activity.NewSongsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BaseActivity"
            android:exported="false"
            android:label="@string/title_activity_base"
            android:theme="@style/Theme.DoAnMp3.NoActionBar" />
        <activity android:name=".TestApiActivity"></activity>
        <activity android:name=".Activity.AddSongUserPlaylistActivity" />
        <activity android:name=".Activity.SettingsActivity" />
        <activity android:name=".Activity.CommentActivity" />
        <activity android:name=".Activity.SingerActivity" />
        <activity android:name=".Activity.ChangeInfoUserActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.PlaySongsActivity" />
        <activity android:name=".Activity.SongsListActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.AddBaiHatActivity" />
        <activity android:name=".Activity.DetailUserPlaylistActivity" />
        <activity android:name=".Activity.UserInfoActivity" />
        <activity android:name=".Activity.DetailSingerActivity" />
        <activity android:name=".Activity.DanhSachBaiHatActivity" />
        <activity android:name=".Activity.AllCategoryActivity" />
        <activity android:name=".Activity.AllSingerActivity" />
        <activity android:name=".Activity.AllSongActivity" />
        <activity android:name=".Activity.AllAlbumActivity" />
        <activity android:name=".Activity.AllPlaylistActivity" />
        <activity android:name=".Activity.PlayNhacActivity" />
        <activity android:name=".Activity.MainActivity" />

        <service android:name=".Service.MusicService" />
        <service android:name=".Service.MusicService" />

        <receiver android:name=".Application.BroadcastReceiver" />
    </application>

</manifest>